<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <!-- link 태그 안에는 스타일 시트 - css를 연결 -->
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- script태그 안에는 자바스크립트 불러옴 -->
    <script src='static/main4.js'></script>
    <script type='text/javascript'>
        // //  메모리 할당
        // var now = new Date();
        // // document: js에서 기본제공해주는 객체
        // document.write(now);
        // // 문자열 합침
        // console.log('날짜: '+ now);
        // // 자바스크립트 팝업창
        // alert('javascript~~')
    </script>
</head>
<body>
    <!-- value는 버튼 안의 글자 ok라는 경고차 띄움--> -->
    <input type = 'button' value='button' onclick="alert('ok')">
</body>
</html>>